<!--- SLIDER --->

<div class="slider-container">
  <div class="slider-show">
    <div class="main-carousel">
      {%- for i in (1..3) -%}
      	{%- assign image = 'slider_image_' | append: i -%}
      	{%- assign utext = 'slider_utext_' | append: i -%}
      	{%- assign heading = 'slider_heading_' | append: i -%}
      	{%- assign ltext = 'slider_ltext_' | append: i -%}
      
      	{%- if settings[image] != blank and settings[heading] != blank -%}
          <div class="carousel-cell">
            <div class="slider-item">
              <img
                class="slider-image"
                src="{{ settings[image]  | img_url:'master'}}"
              />
              <div class="slider-content">
                <div class="custom-card">
                  <div class="card{% if i == 1 %} home {% endif %}">
                    <p class="slider-heading-min sub-heading">{{settings[utext]}}</p>
                    <div class="slider-heading heading-main">
                      {{settings[heading]}}
                    </div>
                    {%- if settings[ltext] -%}<a class="slider-link sub-heading">{{settings[ltext]}}</a>{%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
      	{%- endif -%}      
      	{%- endfor -%}
    </div>
  </div>
</div>