/********** FONTS **********/
/********* Custom Variables ************/
/* Font */
$font--heading--family: var(--font--heading--family);
$font--heading--weight: var(--font--heading--weight);
$font--heading--normal-weight: var(--font--heading--normal-weight);
$font--heading--style: var(--font--heading--style);
$font--accent--family: var(--font--accent--family);
$font--accent--weight: var(--font--accent--weight);
$font--accent--style: var(--font--accent--style);
$font--slider--heading--family: var(--font--slider--heading--family);
$font--slider--heading--size: var(--font--slider--heading--size);
$font--slider--subheading--family: var(--font--slider--subheading--family);
$font--slider--subheading--size: var(--font--slider--subheading--size);

/* Colors */
$color--mobile--background--color: var(--color--mobile--background--color);

$hover-arrow: "M 0.541 32.7493 C 0.526 32.7843 0.521 32.8213 0.507 32.8563 C 0.189 33.6663 0 34.5413 0 35.4633 C 0 36.3853 0.189 37.2603 0.507 38.0693 C 0.521 38.1043 0.526 38.1423 0.541 38.1773 C 0.904 39.0593 1.433 39.8533 2.097 40.5183 L 30.413 68.8333 C 33.203 71.6243 37.723 71.6243 40.513 68.8333 C 43.304 66.0433 43.304 61.5233 40.513 58.7333 L 24.386 42.6053 L 51 43 C 55 43 62 41 62 35 C 62 30 55 28 51 28 L 24.386 28.3203 L 40.513 12.1923 C 43.304 9.4023 43.304 4.8833 40.513 2.0933 C 39.118 0.6973 37.291 0.0003 35.463 0.0003 C 33.636 0.0003 31.808 0.6973 30.413 2.0933 L 2.097 30.4083 C 1.433 31.0723 0.904 31.8673 0.541 32.7493";

/************* Mixim ******************/
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin align-items($align) {
  -webkit-box-align: $align;
  -webkit-flex-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}
@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
}
@mixin justify-content($content) {
  justify-content: $content;
  -webkit-justify-content: $content;
}

/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
$phone: "screen and (max-width: 767px)";
$phone-portrait: "screen and (max-width: 551px)";
$phone-landscape: "screen and (min-width: 552px) and (max-width: 767px)";
$tablet: "screen and (min-width: 768px) and (max-width: 1024px)";
$phone-and-tablet: "screen and (max-width: 1024px)";
$tablet-and-up: "screen and (min-width: 768px)";
$tablet-portrait: "screen and (min-width: 768px) and (max-width: 991px)";
$tablet-landscape: "screen and (min-width: 992px) and (max-width: 1024px)";
$lap: "screen and (min-width: 1025px) and (max-width: 1199px)";
$lap-and-up: "screen and (min-width: 1025px)";
$desk-and-up: "screen and (min-width: 1200px)";
$large-desk-and-up: "screen and (min-width: 1400px)";
$lap-and-desk: "screen and (min-width: 1025px) and (max-width: 1679px)";

@mixin mq($alias) {
  @if $alias == "phone" {
    @media #{$phone} {
      @content;
    }
  } @else if $alias == "phone-portrait" {
    @media #{$phone-portrait} {
      @content;
    }
  } @else if $alias == "phone-landscape" {
    @media #{$phone-landscape} {
      @content;
    }
  } @else if $alias == "tablet" {
    @media #{$tablet} {
      @content;
    }
  } @else if $alias == "phone-and-tablet" {
    @media #{$phone-and-tablet} {
      @content;
    }
  } @else if $alias == "tablet-and-up" {
    @media #{$tablet-and-up} {
      @content;
    }
  } @else if $alias == "tablet-portrait" {
    @media #{$tablet-portrait} {
      @content;
    }
  } @else if $alias == "tablet-landscape" {
    @media #{$tablet-landscape} {
      @content;
    }
  } @else if $alias == "lap" {
    @media #{$lap} {
      @content;
    }
  } @else if $alias == "lap-and-up" {
    @media #{$lap-and-up} {
      @content;
    }
  } @else if $alias == "desk-and-up" {
    @media #{$desk-and-up} {
      @content;
    }
  } @else if $alias == "lap-and-desk" {
    @media #{$lap-and-desk} {
      @content;
    }
  } @else if $alias == "large-desk-and-up" {
    @media #{$large-desk-and-up} {
      @content;
    }
  } @else {
    @media (#{$alias}) {
      @content;
    }
  }
}

/********** RESET CSS*********/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************ MAIN CSS *************/

body {
  padding: 0;
  margin: 0;
  background: $color--mobile--background--color;
}

/**** Slider Module ****/
.slider-container {
  margin: 0px;
  .heading-main {
    font-family: $font--slider--heading--family;
    font-weight: $font--heading--weight;
    font-style: $font--heading--style;
  }
  .sub-heading {
    font-family: $font--slider--subheading--family;
    font-weight: $font--accent--weight;
    font-style: $font--accent--style;
  }
  @include mq("phone") {
    margin: 0 10px;
    letter-spacing: 1.2px;
    .heading-main {
      font-family: $font--slider--subheading--family;
      font-weight: $font--accent--weight;
      font-style: $font--accent--style;
    }
  }

  .slider-show {
    width: 100%;

    .carousel-cell {
      width: 100%;
      margin: 0px !important;

      .slider-item {
        position: relative;

        .slider-image {
          width: 100%;
          height: 35vh;
          @include mq("tablet-and-up") {
            height: 81vh;
          }
          object-fit: cover;
          object-position: center;
        }

        .slider-content {
          position: relative;
          text-align: center;

          .custom-card {
            margin: 10px;

            .slider-heading-min {
              font-size: $font--slider--subheading--size;
              padding-bottom: 8px;
            }
            .slider-heading {
              font-size: $font--slider--heading--size;
              padding-bottom: 12px;
              text-transform: capitalize;
            }
            .slider-link {
              font-size: $font--slider--subheading--size;
              text-transform: uppercase;
              text-decoration: none;
              border-bottom: 1px solid #000;
              padding-bottom: 2px;
            }
          }
        }

        /**** Slider Content (responsive)  ****/
        @include mq("tablet-and-up") {
          .slider-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(black, 0.3);

            .custom-card {
              position: relative;
              width: 100%;
              height: 100%;
              margin: 0px;

              .card {
                max-width: 400px;
                min-width: 350px;
                position: absolute;
                left: 5%;
                bottom: 5%;
                transform: translate(-5%, -5%);
                padding: 25px 20px;
                height: fit-content;
                background: white;
                color: black;
                text-align: left;

                .slider-heading-min {
                  font-size: $font--slider--subheading--size;
                  padding-bottom: 10px;
                }

                .slider-heading {
                  font-size: $font--slider--heading--size;
                  padding-bottom: 15px;
                  line-height: 1.2em;
                }

                .slider-link {
                  font-size: $font--slider--subheading--size;
                }
              }
              .home {
                max-width: 500px;
                min-width: 350px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                padding: 30px 0;
                .slider-heading {
                  font-weight: $font--heading--weight;
                  padding: 0 10px;
                  padding-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }

    .flickity-button {
      padding: 0px;
      &:hover {
        background-color: #c2c3c3;
      }
      &:disabled {
        display: none;
      }
    }

    .flickity-page-dots {
      @include mq("tablet-and-up") {
        display: flex;
        justify-content: flex-end;
        bottom: 20px;
        right: 15px;
      }
    }

    /****** white circles *****/
    .flickity-page-dots .dot {
      margin: 0 3px;
      width: 6px;
      height: 6px;
      @include mq("tablet-and-up") {
        width: 8px;
        height: 8px;
        opacity: 1;
        background: transparent;
        border: 1.5px solid white;
      }
    }

    /***** fill-in selected dot ****/
    .flickity-page-dots .dot.is-selected {
      @include mq("tablet-and-up") {
        background: white;
      }
    }

    /**** hover handling - previous and next ****/
    .flickity-prev-next-button.previous {
      width: 25px;
      height: 25px;
      left: 35px;
      transition: width 0.3s;
      &:hover {
        width: 27px;
        height: 27px;
      }
      @include mq("phone") {
        display: none;
      }
    }
    .flickity-prev-next-button.next {
      width: 25px;
      height: 25px;
      right: 35px;
      transition: width 0.3s;
      &:hover {
        width: 27px;
        height: 27px;
      }
      @include mq("phone") {
        display: none;
      }
    }

    .next > {
      svg {
        margin: -2px;
      }
    }
    .previous > {
      svg {
        margin: 2px;
      }
    }

    /**** Change svg on the hover ****/
    .next:hover > {
      svg:hover path {
        d: path($hover-arrow);
        transition: d 2s;
      }
    }
    .previous:hover > {
      svg:hover path {
        d: path($hover-arrow);
        transition: d 2s;
      }
    }

    flickity-button-icon:hover {
      padding-top: -100px;
    }
  }
}
