<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  
  {%- render 'main-header'-%}
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">
{{content_for_layout}} 
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="{{ 'main-js.js' | asset_url }}"></script>
</body>
</html>
