<div class="slider-show">
  <div class="main-carousel">
    <div class="carousel-cell">
      {%- for blocks in section.blocks -%}
      <div class="carousel-cell">
        <div class="slider-item">
          <img
            class="slider-image"
            src="https://cdn.shopify.com/s/files/1/0565/4806/5443/files/slide-01_1200x.jpg?v=1623843458"
          />
          <div class="slider-content">
            <div class="custom-card">
              <div class="card home">
                <p class="slider-heading-min sub-heading">ECO MARKETPLACE</p>
                <div class="slider-heading heading-main">
                  Consciously crafted, ethically sourced goods
                </div>
                <a class="slider-link sub-heading">New Shop arrivals</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Slide Show",
  "settings":[
    {
      "type": "header",
      "content":"Layout"
    }
  ],
  "blocks":[
    {
      "name":"Image Slide",
      "type":"slider_image",
      "settings":[
        {
          "type":"header",
          "content":"Image"
        },
        {
          "type": "image_picker",
          "id":"slider_image",
          "label":"Image"
        },
        {
          "type": "header",
          "content":"Card"
        },
        {
          "type": "text",
          "id": "sub_upper_text",
          "label": "Upper Text"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Middle Text"
        },
        {
          "type": "text",
          "id": "sub_lower_text",
          "label": "Lower Text"
        }
      ]
    }
  ]
}
{% endschema %}
