<!------------ main-css------------->

{% style %}

{{ settings.heading_font | font_face }}
{{ settings.sub_heading_font | font_face }}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

:root{
	{%- assign heading_font = settings.heading_font -%}
  {%- assign sub_heading_font = settings.sub_heading_font -%}

  --color--mobile--background--color: {{settings.color_body_bg}};
  --color--accent: #f9e9d2;
  --bdr-color--badge: rgba(34, 34, 34, 0.07);
  --bg-color--body: #ffffff;
  --bdr-color--general: #eaeaea;
  --bg-color--textbox: #fff;
  --color--body: #222222;
  --color--body--light: #525252;
  --color--alternative: #ffffff;
  --color--button: #ffffff;
  --bdr-color--button: #ffffff;
  --bg-color--button: #222222;
  --bg-color--button--hover: #222222;
  --color--header: #222222;
  --bg-color--header: #ffffff;
  --bdr-color--header: rgba(34, 34, 34, 0.07);
  --color--footer: #212121;
  --bg-color--footer: #f9e9d2;
  --font--heading--family: {{ heading_font.family }} ;
  --font--slider--heading--family: {{ heading_font.family }};
  --font--slider--heading--size: {{ settings.slider_header_size }}px;
  --font--slider--subheading--family: {{ sub_heading_font.family }};
  --font--slider--subheading--size: {{ settings.slider_subheader_size }}px;
  --font--heading--weight: 400;
  --font--heading--normal-weight: 400;
  --font--heading--style: normal;
  --font--accent--family: {{sub_heading_font.family}};
  --font--accent--weight: 600;
  --font--accent--style: normal;
}
{% endstyle %}